body {
  color: #fff;
  font-size: 12px;
  font-family: Roboto;
  background-image: url("pattern.png");
}
a {
  text-decoration: none;
  color: #fff;
}
a:visited {
  color: #fff;
}
#name {
  text-align: center;
  font-size: 30px;
}